html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    font-family: "Orbitron", sans-serif;
    color: greenyellow;
    background-color: brown;
}

main{
    display: grid;
    border: solid;
    border-color: red;
    place-items: center;
    background-color: beige;
}

header ul{
    font-size: 32px;
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

section{
    margin: 10px;
    padding: 20px;
    border: solid;
    border-color: red;
}

form{
    display: grid;
    place-items: center;
}

footer{
    font-family: "Orbitron", sans-serif;
    font-size: 32px;
    color: greenyellow;
    background-color: black;
}

.center-items{
    display: grid;
    place-items: center;
}

.card{

}

.card-content{

}
